<!doctype html>
<head>
<title>{{conf.station}} Chirpsounder2 Receiver</title>
<style>
table, th, td {
      border: 1px solid black;
}
</style>
</head>

<body>
<h1>{{conf.station}} Chirpsounder2 Receiver</h1>
{{conf.QTH}} {{conf.grid}} <br>
Data updates every hour. <br> <br>

<table>
<tr>
	<th>Date</td>
	<th>Number Chirp Files</td>
	<th>Number LFM Files</td>
	<th>Number LFM PNG Files</td>
</tr>
{% for dayd in ds.days %}
<tr>
	<td><a href="{{dayd.url}}">{{dayd.day}}</a></td>
	<td>{{dayd.n_chirp}}</td>
	<td>{{dayd.n_lfm}}</td>
	<td>{{dayd.n_png}}</td>
</tr>
{% endfor %}
</table>
</body>
